<p id="notice"><%= notice %></p>

<h1>Listing Enrollments</h1>

<table>
  <thead>
    <tr>
      <th>Enrollment date</th>
      <th>Year</th>
      <th>Active</th>
      <th>Paid</th>
      <th>Student</th>
      <th>Course</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.enrollment_date %></td>
        <td><%= enrollment.year %></td>
        <% if enrollment.active == 1 %>
          <td> Ativo </td>
        <% end %>
        <% if enrollment.active == 2 %>
          <td> Inativo </td>
        <% end %>
        <% if enrollment.paid == 1 %>
          <td> Pago </td>
        <% end %>
        <% if enrollment.paid == 2 %>
          <td> Não foi pago </td>
        <% end %>
        <td><%= enrollment.student.name %></td>
        <td><%= enrollment.course.name %></td>
        <td><%= link_to 'Show', enrollment %></td>
        <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
        <td><%= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Pagamento', enrollment_pay_path(enrollment) %></td>
        <td><%= link_to 'Desativar', enrollment_deactivate_path(enrollment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrollment', new_enrollment_path %>
