<%- model_class = Enrollment -%>
<%= form_tag enrollments_path, method: :get do |f| %>
  <p>
    Tipo: <%= select_tag :tipo, options_for_select(["", "Ano", "Aluno", "Curso"]) %>
  </p>
  <p>
    Pesquisa: <%= text_field_tag :pesquisa %>
  </p>
  <p>
    Pagamento: <%= select_tag :status, options_for_select(["Todos", "Pendente", "Pago"]) %>
  </p>

  <p>
    <%= submit_tag "Pesquisar" %>
  </p>

<% end %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:enrollment_date) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:paid) %></th>
      <th><%= model_class.human_attribute_name(:student_id) %></th>
      <th><%= model_class.human_attribute_name(:course_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= link_to l(enrollment.enrollment_date), enrollment_path(enrollment) %></td>
        <td><%= enrollment.year %></td>
        <% if enrollment.active == 1 %>
          <td> Ativo</td>
        <% end %>
        <% if enrollment.active ==2 %>
          <td>Inativo</td>
        <% end %>
        <% if enrollment.paid == 1 %>
          <td>Pago</td>
        <% end %>
        <% if enrollment.paid == 2 %>
          <td>Não foi pago</td>
        <% end %>
        <td><%= link_to enrollment.student.name, student_path(enrollment.student) %></td>
        <td><%= link_to enrollment.course.name, cours_path(enrollment.course) %> - Valor: <%= number_to_currency enrollment.course.price %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_enrollment_path(enrollment), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      enrollment_path(enrollment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
        <td><% if enrollment.active == 1 and enrollment.paid == 2 %>
            <%=  form_tag(enrollment_pay_path(enrollment)) do |f|%>
            <%= number_field_tag :value, nil, step: 0.01 %>
            <%= submit_tag "Pagar", data: {confirm: "Você realmente deseja pagar a matricula de #{enrollment.student.name}?"} %>
            <% end %>
          <% else %>
            Não é possível pagar.
          <% end %>
         </td>
        <td> <%= link_to 'Cancelar', enrollment_deactivate_path(enrollment), :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_enrollment_path,
            :class => 'btn btn-primary' %>
